$color10:#758db9 ;
$color20:#fa798d;
$color30:#191a1c;
$color40:white;
$color50:#faf8f8;
$color60:#5972b9;
$color70:#fa568d;
$color80:#E61601;
$color90:#E2F5FF;
$color100:rgba(247, 244, 64, 1);
$color101:#758db9;
$color102:gray;
$color103:#28292b;
$color104:rgb(61, 61, 61);
$color105:lightgray;
$color106:blue;
$color107:BlueViolet;
$color108:rgb(17, 16, 16);


    @font-face {
    font-family: font1;
    src: url("../fonts/Poppins-Light.ttf");
    }

     @font-face {
    font-family: font2;
    src: url("../fonts/Poppins-Bold.ttf");
    }

    @font-face {
    font-family: font3;
    src: url("../fonts/Poppins-Medium.ttf");
    }

    
    @font-face {
    font-family: font4;
    src: url("../fonts/Poppins-Regular.ttf");
    }