$color1:#051b30;
$color2:#9e704a;
$color3:#fafafa;
$color4:#191a1c;
$color5:wheat;
$color6:white;
$color7:#ba7f61;
$color8:#001b29;



    @font-face {
    font-family: font1;
    src: url("../fonts/Poppins-Light.ttf");
    }