@import './variables2';


.userdashboardcon{
    display: flex;
}

nav{
    width: 35%;
    margin-right: 30px;
    transition: 0.5s;
}

.navlinkscon{
    padding: 20px;
    overflow-y: auto;
    height: 100%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    background: $color40;
    height: auto;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    // justify-content: flex-start;

    .usernavlinkscon{
        width: 100%;
    }

    .navcategories{
        width: 100%;
    }
    
    p{
        width: 100%;
        font-size: 11px;
        color:$color102;
        padding-top: 12px;
        padding-bottom: 4px;
    }
}

.navusername{
    padding: 5px ;
    background: linear-gradient(40deg,$color10,$color20);
    display: flex;
    align-items: center;
    font-size: 13px;
    color: $color40;
    i{
        color:$color40;
        margin-right: 5px;
        font-size: 15px;
    }


}
.navlinks{
padding: 7px 0;
cursor: pointer;
text-decoration: none;
color: $color104;
    a{
        text-decoration: none;
        color: $color104;
    }
}


.usermaincon{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    background: $color40;
    width:100%;
}

.username{
    padding:30px 38px 0 38px;
    font-size: 26px;
}

.useranalyticscon{
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.useranalyticscon div:nth-child(1){
    background-color: $color10;
    width: 47%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color40;
}

.useranalyticscon div:nth-child(2){
    background-color: $color20;
    width: 47%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color40;
}

.overviewcon{
    padding:20px 40px;
    //margin-top: 20px;
}

.overviewheading{
    border-radius: 5px 5px 0 0;
    border: 1px solid $color105;
    padding: 13px;
    background: linear-gradient(40deg,$color10,$color20);
    color: $color50;
    font-family: font3;
}

.overviewcon2d{
    display: flex !important;
    justify-content: space-between;
    align-items: flex-start;
}

.overview{
    padding: 15px 0;
    text-align: center;
}

.overviewdetails{
font-size: 13px;
border: 1px solid $color105;
padding: 13px;
border-radius: 5px 5px 0 0;

    button{
        color: $color60;
        font-family: font3;
        padding: 10px;
        border: 0;
        background: $color50;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        margin: 5px;
        cursor: pointer;
    }
}

.overviewdetails div:nth-child(1){
border-bottom: 1px solid $color105;

    p{
        font-family: font3;
        font-size: 15px;
    }
}

.overviewdetails div:nth-child(2){
padding: 10px 0;

p{
    padding: 6px 0;
}
}    

#nav{
    display: none;
}

.popupaddresscon{
 display:none;
}

















@media (max-width:750px) {
    #nav{
        padding:0 10px 0 2px;
        display: block;
    }
    
    .userdashboardcon{
        margin-top: 8px;
    }
    
    nav{
        height: 95vh;
        width: 70%;
        margin-left:-80%;
        position: fixed;
        top: 0;
        left: 0;
        z-index:400;
    }
    
    .navlinkscon{
        height: 100%;
        overflow-y: auto;

        p{
            font-size: 10px;
        }
    }
    
    .navlinks{
    padding: 5px 0;
    font-size: 14px;
        a{
            color:$color103;
        }
    }
    
    
    .useranalyticscon{
        padding: 0 20px;
    }





}