@import './variables2';


.usereditnamecon{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 10px;
}

.usereditname{
    width: 48%;
    //margin: 0 10px;    
      p{
        font-size: 12px;
        color:$color102;
        margin-left: 5px;
      }

      input{
        border: 1px solid silver;
        padding: 11px 8px;
        border-radius: 5px;
        box-sizing: border-box;
        width: 100%;
      }
}

.usereditnumbercon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.usereditnumber{
    width: 48%;
    display: flex;
    align-items: center;
    padding: 13px 0;

          p{
        font-size: 12px;
        color:$color102;
        margin-left: 5px;
      }

}

.usereditprefix{
    width: 20%;

    select{
        border: 1px solid silver;
        padding: 11px 8px;
        border-radius: 5px;
        width: 90%;
      }


}

.usereditphonenumber{
    width: 80%;

    input{
        border: 1px solid silver;
        padding: 11px 8px;
        border-radius: 5px;
        box-sizing: border-box;
        width: 100%;
      }
}

.usereditadditionalinfocon{
    padding: 13px 10px;
    display: flex;
    justify-content: center;


        p{
        font-size: 12px;
        color:$color102;
        margin-left: 5px;
      }

    input{
        border: 1px solid silver;
        padding: 11px 8px;
        border-radius: 5px;
        width: 100%;
       box-sizing: border-box;
      }
}

.usereditadditionalinfo{
    width: 100%;
}

.usereditloactioncon{
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}

.usereditloaction{
    width: calc(100%/3.1);

    p{
        font-size: 12px;
        color:$color102;
        margin-left: 5px;
      }

    select{
        border: 1px solid silver;
        padding: 11px 8px;
        border-radius: 5px;
        width: 100%;
      }
}

.usereditbtn{
padding: 0 10px;

    button{
        border: 0;
        padding: 10px 15px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
        background: $color60;
        color:$color40;
        cursor: pointer;
        width: 100%;
    }
}














@media (max-width:750px) {
  .usereditadditionalinfocon{
   flex-wrap: wrap;
    p{
      font-size: 10px;
      margin-left: 3px;
    }
          input{
            padding: 9px 9px;
            font-size: 13px;
         }
}


.usereditloaction{

  p{
    font-size: 10px;
    margin-left: 3px;
  }
  select{
    padding: 9px 9px;
  }
}

.usereditname{
  p{
    font-size: 10px;
    margin-left: 3px;
  }

    input{
      padding: 9px 9px;
      font-size: 13px;
    }
}


.usereditphonenumber{

  p{
    font-size: 10px;
    margin-left: 3px;
  }
  input{
      padding: 9px 9px;
      font-size: 13px;
    }
}

.usereditnumber{
 
  p{
    font-size: 10px;
    margin-left: 3px;
  }
}

.usereditprefix{
  select{
      padding: 9px 9px;
    }


}
}

